@font-face {
    font-family: 'iranSansNormal';
    src: url("../../../font/iranSans/normal/IRANSansWeb.eot") format("eot");
    src:
            url("../../../font/iranSans/normal/IRANSansWeb.eot?#iefix") format("eot"),
            url("../../../font/iranSans/normal/IRANSansWeb.ttf") format("ttf"),
            url("../../../font/iranSans/normal/IRANSansWeb.woff") format("woff"),
            url("../../../font/iranSans/normal/IRANSansWeb.woff2") format("woff2")
    ;
}